.emoji-box {
  background-color: #fff;
  border-radius: 4px;
  padding: 5px;

  .emoji-list {
    width: 410px;
    height: 260px;
    overflow-y: auto;
  }

  ul {
    margin: 10px 0px 5px 5px;
    padding: 0;

    li {
      display: inline-block;
      width: 29px; 
      height: 29px;
      margin-right: 4.7px;
      margin-bottom: 10px;
      
      &:hover {
        background-color: gainsboro;
      }

      img {
        max-width: 100%;
      }
    }
  }
}

.pop-img {
  width: 48px;
  height: 48px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  border: 1px solid #eee;

  img {
    margin: auto;
    width: 29px;
    height: 29px;
  }
}
